*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --border-color: #000000;
}

html[data-theme='light'] {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --border-color: #000000;
}

html[data-theme='dark'] {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --border-color: #FFFFFF;
}

canvas {
    image-rendering: pixelated;
}