.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.main__controls {
    flex-grow: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.canvas {
    image-rendering: pixelated;
    border: 1px solid black;
}

.main__debug {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    min-width: 600px;
    padding: 10px;
}

.main__tabs {
    flex-grow: 1;
}