.disassembler {
    width: 450px;
    height: 300px;
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    margin-right: 20px;
}

.disassembler tr, .disassembler td, .disassembler th {
    border: 1px solid var(--border-color);
}

.disassembler th {
    padding: 10px 0px;
    font-size: 18px;
}

.disassembler td {
    padding: 4px 4px;
}

.disassembler__address {
    width: 20%;
}

.cpuRegisters {
    width: 200px;
    height: 300px;
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    text-align: center;
}

.cpuRegisters tr, .cpuRegisters td {
    border: 1px solid var(--border-color);
}

.cpuRegisters th {
    padding: 10px 0px;
    font-size: 18px;
}

.cpuRegisters td {
    padding: 4px 4px;
}