.videoRegisters {
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    height: 600px;
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;

}

.videoRegisters tr, .videoRegisters td {
    border: 1px solid var(--border-color);
}

.videoRegisters th {
    padding: 10px 0px;
    font-size: 18px;
}

.videoRegisters td {
    padding: 4px 4px;
}

.graphics__sub-table {
    flex-grow: 1;
}

.graphics__canvas {
    image-rendering: pixelated;
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--border-color);
}