.canvas_container {
    grid-area: canvas;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    image-rendering: pixelated;
}

canvas {
    border: 1px solid white;
    /* width: 320px;
    height: 288px; */
}