main.debug {
    display: grid;
    grid-template-areas: 
        "screen controls controls controls ."
        "screen disassembler registers other_registers ."
        "memory memory memory other_registers .";
    grid-template-columns: 200px auto 120px 200px 200px;
    grid-template-rows: 80px 300px auto;
    column-gap: 10px;
    row-gap: 10px;
}

/* controls */
.controls {
    grid-area: controls;
    display: flex;
    align-items: center;
}

.controls__button {
    background-color: white;
}

/* disassembler */
.disassembler {
    grid-area: disassembler;
    display: flex;
    flex-direction: column;
}

.disassembler__header {
    margin: 0px;
    margin-bottom: 10px;
}

.disassembler__table {
    border: 1px solid white; 
    border-collapse: collapse;
    flex-grow: 1;
}

.disassembler__table th {
    border: 1px solid white;
    padding: 3px;
}

.disassembler__table td {
    padding: 5px;
}

/* registers */
.registers {
    grid-area: registers;
    display: flex;
    flex-direction: column;
}

.registers__header {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
}

.registers__table {
    text-align: center;
    flex-grow: 1;
    border: 1px solid white; 
    border-collapse: collapse;
}

.registers__table th {
    border: 1px solid white;
}

.registers__table td {
    padding: 5px;
}

/* other_registers */
.other_registers {
    grid-area: other_registers;
}

/* memory */
.memory {
    grid-area: memory;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.memory__header {
    display: flex;
    align-items: center;
}

.memory__input {
    margin-left: 14px;
    height: 16px;
}

.memory__table {
    width: 100%;
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
}

.memory__table__header th {
    padding: 5px;
    font-size: 16px;
}

.memory__table th {
    border: 1px solid white;
}